include time.pug
doctype html
html(lang="en")
  head
    if seo.author
      title!=attributes.title + " | " + seo.author
    else
      title=attributes.title
    meta(name="description", content=attributes.description)
    if site.url
      meta(property="og:url", content!=site.url + "/" + path)
    meta(property="og:type", content="article")
    meta(property="og:title", content=attributes.title)
    meta(property="og:description", content=attributes.description)
    meta(property="article:published_time", content!=toISODate(attributes.date))
    if seo.author
      meta(property="article:author", content=seo.author)
    meta(property="twitter:card", content="summary_large_image")
    if social.twitter
      meta(property="twitter:site", content=social.twitter)
    if attributes.featuredImage
      meta(property="og:image", content=attributes.featuredImage)
      meta(name="twitter:image", content=attributes.featuredImage)
    if site.url
      meta(name="twitter:url", content=siteUrl + "/" + path)
    meta(name="twitter:description", content=attributes.description)
    meta(name="twitter:title", content=attributes.title)
    include head.pug
  body
    include nav.pug
    div#page
      include post-body.pug
    div#article-footer
      include footer.pug
